<div class="navbar">
    <div class="logoArea">
        <img src="../../../assets/images/logo.png" alt="">
    </div>
    <div class="navArea p-relative">
       <ul class="d-flex justify-end">
           <li class="item">Products</li>
           <li class="item">Solutions</li>
           <li class="item">Pricing</li>
           <li class="loginBtn">Login</li>
           <li class="startBtn">Get Started</li>
       </ul>
       <div>
        <img src="../../../assets/images/circle.svg" alt="" class="bigCircle">
       </div> 
    </div>
</div>
